#hideThis {
    visibility: hidden;
}

#textInputDummy{
    visibility: hidden;
}
#array {
    font-size: 12px;
    bottom: 4px;
}

div {
    position: fixed;
    color: black;
    font-family: 'gt_walsheim_regular';
}

body {
    background: url("./background_pixel.png");
}

#bunny {
    right: 5vw;
    top: 50vh;
    width: 25vw;
    height: 25vh;
    background: url("./bunny_pixel.png") no-repeat center;
    background-size: contain;
}

#textOutputBox {
    top: 10px;
    left: 10px;
    right: 10px;
    height: 600px;
    background: url("./output-field-scale.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
    #textOutputBox {
    background: url("./Output-field.png");
    background-size: contain;
    background-repeat: no-repeat;
}
}

#textOutput {
    top: 1vh;
    left: 5vw;
    right: 5vw;
    width: 90vw;
    font-style: italic;
    font-size: 2vw;
}

#bubble {
    left: 45vw;
    top: 35vh;
    width: 25vw;
    height: 25vh;
    background: url("./bubble.png") no-repeat;
    background-size: contain;
}

#hat {
    left: 20px;
    top: 40vh;
    width: 25vw;
    height: 25vh;
    background: url("./hat_pixel.png") no-repeat center;
    background-size: contain;
}

#textInputBox {
    bottom: 3vh;
    left: 3vw;
    right: 3vw;
    height: 20vh;
    background: url("./input-field.png") no-repeat;
    opacity: 0.5;
    background-size: cover;
}

#textInput {
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
    height: 15vh;
}

@media only screen and (min-width: 1200px) {
    #hideThis {
        visibility: hidden;
    }
    #bunny {
        right: 15vw;
        top: 50vh;
        width: 25vw;
        height: 25vh;
        background: url("./bunny_pixel.png") no-repeat center;
        background-size: contain;
    }
    #textOutputBox {
        top: 1vw;
    left: 3vw;
    height: 35vh;
    width: 95vw;
    background: url("./Output-field.png") no-repeat;
    background-size: contain;
}
    }
    #textOutput {
        top: 1vh;
        font-style: italic;
        font-size: 1.8vh;
        width: 90vw;
    }
    #bubble {
        right: 1px;
        top: 35vh;
        width: 25vw;
        height: 25vh;
        background: url("./bubble.png") no-repeat center;
        background-size: contain;
    }
    #hat {
        left: 40px;
        top: 40vh;
        width: 25vw;
        height: 25vh;
        background: url("./hat_pixel.png") no-repeat center;
        background-size: contain;
    }
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot"?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: medium;
    font-style: normal;
}