#hideThis{
    visibility: hidden;
}

#array{
    font-size: 12px;
    bottom: 4px;
}
div {
    position: fixed;
    color: black;
    font-family: 'gt_walsheim_regular';
}

body {
    background: url("./background_pixel.png");
}

#bunny {
    right: 5vw;
    top: 50vh;
    width: 25vw;
    height: 25vh;
    background: url("./bunny_pixel.png") no-repeat center;
     background-size: contain;
}

#textOutputBox {
    top: 3vh;
    left: 3vw;
    height: 20vh;
    width: 100vw;
   
    background: url("./Output-field.png") no-repeat center;
    background-size: contain;
    
    
}

#textOutput {
    
    border-bottom: 0px;
    font-style: italic;
    font-size: larger;
}

#bubble {
    right: 30vw;
    top: 35vh;
    width: 25vw;
    height: 25vh;
    background: url("./bubble.png") no-repeat center;
     background-size: contain;
}

#hat {
    left: 20px;
    top: 40vh;
    width: 25vw;
    height: 25vh;
    background: url("./hat_pixel.png") no-repeat center;
    background-size: contain;
}

#textInputBox {
    bottom: 3vh;
    left: 3vw;
    right: 3vw;
    height: 20vh;
    
    background: url("./input-field.png") no-repeat;
    opacity: 0.5;
    background-size: cover;
    
}

#textInput {
    left: 60px;
    bottom: 120px;
    height: 50px;
    width: 800px;
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot"?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.woff') format('woff'),
         url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.ttf') format('truetype'),
         url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: medium;
    font-style: normal;
}